body {
  background-color: white;
  margin: 0;
}

/*********** HEADER ***********/
h1 {
  text-align: center;
  margin: 0;
  padding: 30px;
  color: white;
  background-color: #075252;
}

ul {
  text-align: center;
  background-color: darkcyan;
  margin: 0;
}

ul a {
  color: white;
  text-decoration: none;
  text-align: center;
}

li {
  display: inline-table;
  height: 30px;
  width: 100px;
  padding: 20px 5px 10px 5px;
  text-align: center;
  color: black;
  background-color: #008b8b;
}

li:hover {
  background-color: #0b9999;
  border-style: none;
}

/*********** CONTAINER ***********/
.container {
  width: 1000px;
  height: 100vh;
  margin: auto;
  width: 40%;
  padding: 10px;
}

.container #foto {
  width: 150px;
  height: 150px;
  float: right;
  margin: 10px;
}

form fieldset {
  margin: auto;
  width: 50%;
  padding: 10px;
}

input[type="text"],
input[type="email"],
textarea,
select,
button {
  display: block;
  margin: 15px 0px;
  padding: 5px;
  width: 300px;
  box-sizing: border-box;
}

textarea {
  height: 200px;
  padding: 5px 4px;
}

button:active {
  background-color: #075252;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

footer {
  background-color: #075252;
  height: 60px;
  color: white;
  text-align: center;
  padding: 5px;
}
iframe {
  margin: 100px;
  height: 650px;
}